

/* CHATBOX
=============== */
.chatbox {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: rgb(206, 220, 233);
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;
    
}

/* BUTTON */
.chatbox__button {    
    text-align: right;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: rgb(255, 119, 0);
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {    
    background: rgb(0, 204, 255);
    margin-left: auto;
}
.messages__item--operator--nQuestion {    
    background: rgb(0, 204, 255);
    margin-left: auto;
}
.messages__item--operator--nQuestion:hover {
    cursor: pointer;
    background: rgb(0, 255, 166);
}
.messages__item--visitor--begin {
    background: rgb(255, 174, 0);
    margin-right: auto;
}
.messages__item--visitor {
    background: rgb(255, 174, 0);
    margin-right: auto;
}
.messages__item--visitor:hover {
    cursor: pointer;
    background: rgb(200, 255, 0);
}
/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}